.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 40px 135px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        p{
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
    &__list{
        padding: 0 40px 0 418px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        a{
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #F9FAFB;
        }
    }
    &__btn{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #F9FAFB;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding: 12px 24px;
        background: var(--btn-background);
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}